@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-1: #1CD1B0;
    --color-2: #00669F;
    --color-3: #001D2D;

}

.forms {
    display: flex;
    background: var(--color-3);
    flex-direction: row-reverse;
}

div.forms a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    margin: 15px;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

header {
    position: sticky;
    top: -40px;
    z-index: 10;
}

h2 {
    background: var(--color-1);
    line-height: 40px;
    padding-left: 10px;
    font-weight: lighter;
}

h1 {
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding: 20px 18px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

div.banner-1 {
    background-image: url(../img/header\ batman.png);
}

div.banner-2 {
    background-image: url(../img/header\ harley.png);
}

div.banner-3 {
    background-image: url(../img/header\ superman.png);
}

div .perfil-1 {
    background-image: url(../img/batman.png);
}

div .perfil-2 {
    background-image: url(../img/harley.png);
}

div .perfil-3 {
    background-image: url(../img/superman.png);
}

.corazon {
    position: absolute;
    background-image: url(../img/Vector.png);
    width: 30px;
    height: 26.25px;
    left: 21px;
    top: 16px;
}

div.tarjetas {
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 154px;
    align-items: center;
    justify-content: space-around;
}


div.tarjetas article {
    position: relative;
    width: 300px;
    height: calc(336px + 192px);
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mas {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 290px;
    right: 70px;
}


.banner {
    background-color: brown;
    width: 300px;
    height: 192px;
    border-radius: 16px 16px 0px 0px;
}


.perfil {
    position: absolute;
    background-color: chartreuse;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    top: calc(192px - 120px / 2);
    left: calc(300px / 2 - 120px / 2);
}


.nombre {
    margin-top: 73px;
    text-align: center;
    font-size: 30px;
}

.descripcion {
    margin-top: 10px;
    width: 267px;
    font-size: 16px;
    margin: 0px auto;
}

.ver-mas {
    margin: 0px auto;
    margin-top: 37px;
    background: var(--color-2);
    width: 130px;
    height: 48px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ver-mas a {
    text-decoration: none;
    color: white;
}

footer {
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    margin-top: 150px;
    background: var(--color-2);
    color: #fff;
    padding: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1279px) {

    /*laptops y tablets grandes*/
    .tarjetas {
        display: flex;
        flex-wrap: wrap;
      }
      
      div.tarjetas article {
        flex: 2 0 21%; 
        margin: 5px;
        height: 100px;
}
}

@media screen and (max-width: 768px) {

    /*smartphone y tablets pequeñas*/
    .tarjetas {
        flex-direction: column;
    }

    div.tarjetas article {
        margin: 15px;
    }
}